rules_version = '2';
service cloud.firestore {
  match /databases/ai-studio-paiementscuris-70c716c0-25eb-4690-a724-7d2f47bca6a4/documents {
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
